{% extends "base.html" %}
{% load static %}
{% block title %}Appointment Manager{% endblock %}

{% block content %}

<div class="grid-x grid-padding-x">
    <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
        <form action="/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="button" value="Add Appointment" />
        </form>
    </div>
</div>


<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-8 medium-8 small-10 large-offset-2 medium-offset-2 cell">
            <div id="auto_refresh">
                <div class="card-info primary" v-for="sugg in suggestions">
                    <div class="card-info-content">
                        {% verbatim %}
                            <h3 class="lead">{{ sugg.suggestion }}</h3>
                            {{ sugg.date_input }} @ {{ sugg.time_input }}
                            <div class="columns large-8 large-offset-9">
                                <a :href="'/delete/'+ sugg.id +'/'" class="button">Delete Appointment</a>
                            </div>  
                            <!-- authored by {{ sugg.author }} -->
                            {% endverbatim %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ comments }}

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}


<!-- {% if request.user.is_authenticated %} -->
<!-- {% endif %} -->
