{% extends "base.html" %}
{% load static %}
{% block title %}Appointment Manager{% endblock %}

{% block content %}

<!-- <script src="{% url 'js-catalog' %}"></script>
<script src="{% static '/admin/js/corejs' %}"></script> -->

{% if request.user.is_authenticated %}
<div class="grid-x grid-padding-x">
    <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
        <form action="/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="button" value="Add Appointment" />
        </form>
    </div>
</div>
{% endif %}

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-10 medium-10 small-12 large-offset-1 medium-offset-1 cell">
            <div id="auto_refresh">
                <div class="card-info primary" v-for="sugg in suggestions">
                    <div class="card-info-content">
                        {% verbatim %}
                            <h3 class="lead">{{ sugg.suggestion }}</h3>
                            authored by {{ sugg.author }}
                            <br>
                            {{ sugg.date_input }} @ {{ sugg.time_input }}
                            {% endverbatim %}
                        <br>
                        <a href="/delete/{{ sugg_id }}/" class="button">Delete Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ comments }}

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}