{% extends "base.html" %}
{% load static %}
{% block title %}Appointment Manager{% endblock %}

{% block content %}

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-10 medium-10 small-12 large-offset-1 medium-offset-1 cell">
            <div id="app-4">
                <div class="card-info primary" v-for="sugg in suggestions">
                    <div class="card-info-content">
                        {% verbatim %}
                            <h3 class="lead">{{ sugg.suggestion }}</h3>
                            authored by {{ sugg.author }}
                        {% endverbatim %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ comments }}

{% if request.user.is_authenticated %}
<form action="/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="button" value="Add Appointment" />
</form>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}